html, body, header {
  color: #000;
  font-family: 'Roboto', sans-serif;
  background-color: #000000!important;
  border: none !important;
}

header {
  background-image: url("../img/pexels-photo-574073-min.jpeg");
  background-size: cover;
  margin: 0 !important;
  padding: 0 !important;
  height: auto;
  width: 100%;
}

form {
  margin: 1%;
}

h4, h6 {
  color: rgba(170, 23, 92, 0.8) !important;
}

.spacer {
  margin-top: 2%;
}

.logo {
  max-height: 150px;
}

@media (min-width: 992px) {
  form {
    width: 60%;
    margin-left: 20%;
  }
}